/.ipynb_checkpoints
/Deliverable I - Team.docx
/Final Project - Prostgres.ipynb
/Final Project Deliverable -1.docx
/Final Project Deliverable -1.pdf
/Final Project Description.docx
/Final Project Rubric.docx
/Json Pre-processing.ipynb
/laureate_data.json
/nobel_prizes.db
/nobel_prizes.db-journal
/prize_data.json